{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "printWidth": 80,
  "bracketSameLine": false,
  "arrowParens": "avoid",
  "parser": "typescript",
  "endOfLine": "lf",
  "singleAttributePerLine": true,
  "overrides": [
    {
      "files": ["*.ts", "*.tsx", "*.js", "*.jsx"],
      "options": {
        "parser": "babel"
      }
    },
    {
      "files": ["*.css", "*.scss", "*.less", "*.html"],
      "options": {
        "parser": "css"
      }
    },
    {
      "files": ["*.json", "*.yaml"],
      "options": {
        "parser": "json"
      }
    }
  ]
}
